<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="google-site-verification" content="6QM7A1R-G1s73G-LyFLsiIfpEywC71k3IamEphHtBYg" />
	{%- include head.html -%}
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">

</head>

<body>
	<main class="container">
		<section class="about">
			<a href={{ site.url }}><img src="{{ "/assets/profile.png" | relative_url }}"
					alt="{{ site.plainwhite.name }}"></a>
			<h2>{{ site.plainwhite.name }}</h2>
			<p class="tagline">{{ site.plainwhite.tagline }}</p>
			<ul class="social">
				{%- if site.plainwhite.social_links.github -%}
				<a href="https://github.com/{{ site.plainwhite.social_links.github }}">
					<li><i class="fab fa-github"></i></li>
				</a>
				{%- endif -%}
				{%- if site.plainwhite.social_links.linkedIn -%}
				<a href="https://www.linkedin.com/{{ site.plainwhite.social_links.linkedIn }}">
					<li><i style="margin-left: .6em;" class="fab fa-linkedin"></i></li>
				</a>
				{%- endif -%}
				{%- if site.plainwhite.social_links.googleresearch -%}
				<a href="https://scholar.google.com/citations?user={{ site.plainwhite.social_links.googleresearch }}">
					<li><i style="margin-left: .6em;" class="fab fa-google"></i></li>
				</a>
				{%- endif -%}
				{%- if site.plainwhite.social_links.infopage -%}
				<a href="{{ site.plainwhite.social_links.infopage }}">
					<li><i style="margin-left: .6em;" class="far fa-file-pdf"></i></li>
				</a>
				{%- endif -%}

			</ul>
			<p>&copy; 2020</p>
		</section>
		<section class="content">
			{{ content }}
		</section>
	</main>
	{%- if site.plainwhite.analytics_id -%}
	<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
	{%- endif -%}
</body>

</html>
